---
- name: install dependencies
  yum: name=java-1.7.0-openjdk state=present

- name: get jenkins repo
  get_url: url="http://pkg.jenkins-ci.org/redhat/jenkins.repo" dest=/etc/yum.repos.d/jenkins.repo

- name: set jenkins repo
  rpm_key: state=present key=http://pkg.jenkins-ci.org/redhat/jenkins-ci.org.key

- name: install jenkins
  yum: name=jenkins state=latest

- name: jenkins config allocate
  template: src=jenkins.j2 dest={{conf_dir}}/jenkins
  notify: restart jenkins
